<p>Hello <%= @user.email %>!</p>

<p>You've been invited to <%= Config.app_name %></p>
<% if Config.router_helper_configured? do %>

  <p>
  <a href="<%= "#{Config.invitation_registration_url}?password_reset_token=#{@password_reset_token}&confirmation_token=#{@confirmation_token}" %>">
      Click here to setup your account
    </a>
  </p>
<% end %>
