<p>Hello <%= @user.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if Config.router_helper_configured? do %>
  <p><a href="<%= Config.router_helper.password_url(Config.endpoint, :edit, password_reset_token: @password_reset_token) %>">Change my password</a></p>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
