Hello <%= @user.email %>!

Someone has requested a link to change your password. You can do this through the link below.

<% if Config.router_helper_configured? do %>
  Use this url to change your password: <%= Config.router_helper.password_url(Config.endpoint, :new, password_reset_token: @password_reset_token) %>
<% end %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
