Hello <%= @user.email %>!

Someone has requested a link to change your password. You can do this through the link below.

Use this url to change your password: <%= Config.router_helper.password_url(Config.endpoint, :edit, password_reset_token: @password_reset_token, user_id: @user.id) %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
