Hello <%= @user.email %>!

Welcome to <%= Config.app_name %>
<%= if Config.confirmable != false do %>

  Use this URL to confirm your account: <%= Config.router_helper.user_url(Config.endpoint, :confirm, id: @user.id, confirmation_token: @confirmation_token) %>
<% end %>
