Hello <%= user.email %>!

Someone has requested a link to change your password. You can do this through the link below.

<% if Sentinel.RouterHelper.configured? do %>
  Use this url to change your password: <%= Sentinel.RouterHelper.helpers.password_resets_url(Sentinel.RouterHelper.endpoint, :reset) %>?password_reset_token=<%= password_reset_token %>
<% end %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
