<h2>Forgot your password?</h2>

<%= form_for @conn, Config.router_helper.password_path(@conn, :create), [as: :create], fn f -> %>
  <div class="field">
    <%= label f, :email, class: "sentinel control-label" %><br />
    <%= email_input f, :email, class: "sentinel form-control" %>
  </div>

  <div class="actions">
    <%= submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render(Sentinel.SharedView, "links.html", assigns) %>
